
{% extends 'base.html' %}

{% block page_name %}
    Home
{% endblock page_name %}

{% block content %}
    {% for room in rooms.object_list %}
        <h3>{{room.name}}/ {{room.price}}won</h3>
    {% endfor %}
    <h5>
        {% if rooms.has_previous %}
            <a href="?page={{rooms.number|add:-1}}">previous</a>
        {% endif %}
                   
        {{rooms.number}} of {{rooms.paginator.num_pages}}
        
        {% if rooms.has_next  %}
        <a href="?page={{rooms.number|add:1}}">next</a>
        {% endif %}

        
        <!-- {% for page in rooms.paginatior.page_range %}
            {{page}}
        {% endfor %} -->
            
    </h5>     
{% endblock content %}
