{% extends "base.html" %}


{% block page_title %}
    Search
{% endblock page_title %}


{% block search-bar %}
{% endblock search-bar %}
    

{% block content %}

    <h2>Search!</h2>

    <form method="get" action="{% url "rooms:search" %}">
        {{form.as_p}}
        <button>Search</button>
        <h3>Results</h3>

        {% for room in rooms %}
            <h3>{{room.name}}</h3>
        {% endfor %}

        {% if rooms.has_previous %}
            Previous
        {% endif %}
            Page {{rooms.number}} of {{rooms.paginator.num_pages}}
        {% if rooms.has_next %}
            Next
        {% endif %}
{% endblock content %} 
